/*test title*/
.fra-tstt{
  position:absolute;
  z-index:-9;
  background-color:rgba(0,0,0,0);
  color:rgba(0,0,0,0);
  /*overflow:hidden;*/
  text-emphasis-color:rgba(0,0,0,0);
  text-decoration-color:rgba(0,0,0,0);
  outline-color:rgba(0,0,0,0);
  border-block-color:rgba(0,0,0,0);
  border-inline-color:rgba(0,0,0,0);
 -webkit-text-stroke-color:rgba(0,0,0,0);
  -webkit-text-fill-color:rgba(0,0,0,0);
  text-stroke-color:rgba(0,0,0,0);
  text-fill-color:rgba(0,0,0,0);
  scrollbar-color:rgba(0,0,0,0);
}
/*Alternative element while hideContent*/
.fra-alt{
 width:0px;
 height:0px;
 position:absolute;
}
